@model PrintingHouse.Models.OrderProperty

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>OrderProperty</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SupId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SupId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SupFare)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SupFare)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Width)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Width)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Height)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Height)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Order)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Order.OrderId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductProperty)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductProperty.ProductPropertyId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.OrderTypeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
