@model IEnumerable<PrintingHouse.Models.Order>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card m-2">
   <div class="card-header">
       <div class="row">
           <h4 class="font-weight-light col col-10">Add New Customers</h4>
           <div class="col col-2">

           </div>
       </div>

   </div>
<div class="card-body p-0">
    <table class="table table-hover">
        <tr>
            <th>

            </th>
            <th>

            </th>
            <th>

            </th>
        </tr>
    </table>
    <table class="table">
        <tbody>

        </tbody>

    </table>
</div>
</div>

    <div class="card m-2">
        <div class="card-header">
            <div class="row">
                <h4 class="font-weight-light col col-10">Add New Orders</h4>
                <div class="col col-2">
                    <a asp-action="Create" class="btn btn-outline-success float-right "><i class="fas fa-plus"></i> Create New</a>
                </div>
            </div>

        </div>
        <div class="card-body p-0">
            <table class="table table-hover">
                <thead class="table-sm">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Date)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.OrderDeadline)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Customer)
                        </th>
                        <th></th>
                    </tr>


                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OrderDeadline)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Customer.Name)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.OrderId">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.OrderId">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.OrderId">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        
    </div>

 
